* {
    font-family: 'Mukta', sans-serif;
}

.selected {
    color: blue;
    font-weight: 600;
}

.selected::after {
    content: ' ⯈';
}

.inactive {
    color: gray;
    cursor: default;
}


/* SignUp */

input.invalid {
    border: 2px solid red;
}

input.valid {
    border: 2px solid green;
}